<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Realock - Real Estate</title>

    <link href="~/Relock - Real Estate HTML/assets/images/logo/fevicon-img.png" rel="icon">

    <link rel="stylesheet" href="~/Relock - Real Estate HTML/assets/css/bootstrap.min.css">

    <link rel="stylesheet" href="~/Relock - Real Estate HTML/assets/fonts/font.css">

    <link rel="stylesheet" href="~/Relock - Real Estate HTML/assets/css/slick.css">

    <link rel="stylesheet" href="~/Relock - Real Estate HTML/assets/css/slick-theme.css">

    <link rel="stylesheet" href="~/Relock - Real Estate HTML/assets/css/all.min.css">

    <link rel="stylesheet" href="~/Relock - Real Estate HTML/assets/css/style.css">

    <link rel="stylesheet" href="~/Relock - Real Estate HTML/assets/css/homepage_2.css">

    <link rel="stylesheet" href="~/Relock - Real Estate HTML/assets/css/media-query.css">

</head>