<section id="buyer_seller_section" class="mt-100">
    <div class="bg_img_buyer_seller">
        <div class="container">
            <div class="row buyer_seller_top_inner_section">
                <div class="col-md-6 col-12 left_column">
                    <img class="img_shadow" src="~/Relock - Real Estate HTML/assets/images/house-images/house-1.png" alt="house-image">
                </div>
                <div class="col-md-6 col-12 right_column">
                    <div class="buyer_seller_title">
                        <h5>for buyers</h5>
                    </div>
                    <div class="buyer_seller_heading">
                        <h2>your dream home.</h2>
                    </div>
                    <div class="buyer_seller_para">
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                            incididunt ut labore et dolore magna aliqua.
                        </p>
                    </div>
                    <div class="buyer_seller_button">
                        <a class="btn" href="javascript:void(0);">find a home</a>
                    </div>
                </div>
            </div>

            <div class="row buyer_seller_bottom_inner_section">
                <div class="col-md-6 col-12 left_column">
                    <div class="buyer_seller_title">
                        <h5>for sellers</h5>
                    </div>
                    <div class="buyer_seller_heading">
                        <h2>value your home</h2>
                    </div>
                    <div class="buyer_seller_para">
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                            incididunt ut labore et dolore magna aliqua.
                        </p>
                    </div>
                    <div class="buyer_seller_button">
                        <a class="btn" href="javascript:void(0);">home valuation</a>
                    </div>
                </div>
                <div class="col-md-6 col-12 right_column">
                    <img class="img_shadow" src="~/Relock - Real Estate HTML/assets/images/house-images/house-2.png" alt="house-image">
                </div>
            </div>
        </div>
    </div>
</section>