<section id="category_section" class="mt-100">
    <div class="container">
        <div class="row">
            <div class="col-lg-9 col-md-8 col-12">
                <div class="theme_heading">
                    <h2>Find the category for you</h2>
                </div>
                <div class="theme_description">
                    <p class="mt-15">Lorem ipsum dolor sit amet, consectetur adipiscing.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-12 theme_button">
                <a href="javascript:void(0);" class="btn">explore properties<i class="icon fa-solid fa-arrow-right"></i></a>
            </div>
        </div>

        <div class="row category_inner_section">

            <div class="col-md-4 col-6 category_column">
                <div class="real_estate_categories">
                    <div class="category_items">
                        <a class="category_items_link" href="javascript:void(0);">
                            <div class="p_category_image"
                                 style="background-image: url('~/Relock - Real Estate HTML/assets/images/categories/category-1.png');">
                            </div>
                            <h4 class="category_title">agriculture</h4>
                        </a>
                    </div>
                </div>
            </div>

            <div class="col-md-4 col-6 category_column">
                <div class="real_estate_categories">
                    <div class="category_items">
                        <a class="category_items_link" href="javascript:void(0);">
                            <div class="p_category_image"
                                 style="background-image: url('~/Relock - Real Estate HTML/assets/images/categories/category-2.png');">
                            </div>
                            <h4 class="category_title">industrial</h4>
                        </a>
                    </div>
                </div>
            </div>

            <div class="col-md-4 col-6 category_column">
                <div class="real_estate_categories">
                    <div class="category_items">
                        <a class="category_items_link" href="javascript:void(0);">
                            <div class="p_category_image"
                                 style="background-image: url('~/Relock - Real Estate HTML/assets/images/categories/category-3.png');">
                            </div>
                            <h4 class="category_title">office space</h4>
                        </a>
                    </div>
                </div>
            </div>

            <div class="col-md-4 col-6 category_column">
                <div class="real_estate_categories">
                    <div class="category_items">
                        <a class="category_items_link" href="javascript:void(0);">
                            <div class="p_category_image"
                                 style="background-image: url('~/Relock - Real Estate HTML/assets/images/categories/category-4.png');">
                            </div>
                            <h4 class="category_title">appartments</h4>
                        </a>
                    </div>
                </div>
            </div>

            <div class="col-md-4 col-6 category_column">
                <div class="real_estate_categories">
                    <div class="category_items">
                        <a class="category_items_link" href="javascript:void(0);">
                            <div class="p_category_image"
                                 style="background-image: url('~/Relock - Real Estate HTML/assets/images/categories/category-5.png');">
                            </div>
                            <h4 class="category_title">commercial</h4>
                        </a>
                    </div>
                </div>
            </div>

            <div class="col-md-4 col-6 category_column">
                <div class="real_estate_categories">
                    <div class="category_items">
                        <a class="category_items_link" href="javascript:void(0);">
                            <div class="p_category_image"
                                 style="background-image: url('~/Relock - Real Estate HTML/assets/images/categories/category-6.png');">
                            </div>
                            <h4 class="category_title">residential</h4>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>