<footer class="site_footer">
    <div class="container">

        <div class="footer_top">
            <div class="row site_name">
                <div class="col-md-6 col-12 column_1">
                    <a class="site_logo" href="#realock_info"><span>r</span>ealock</a>
                </div>
            </div>
        </div>

        <div class="footer_middle">
            <div class="row site_about">
                <div class="col-md-4 col-12 column_1">
                    <h4 class="site_about_heading">about</h4>
                    <p class="site_about_para">
                        Lorem ipsum is a placeholder text commonly used to demonstrate the visual form
                    </p>
                    <ul class="site_social_media">
                        <li class="social_media_icons">
                            <a href="https://www.facebook.com/" target="_blank"><i class="fa-brands fa-facebook-f"></i></a>
                            <a href="https://twitter.com/" target="_blank"><i class="fa-brands fa-twitter"></i></a>
                            <a href="https://in.pinterest.com/" target="_blank"><i class="fa-brands fa-pinterest-p"></i></a>
                            <a href="https://www.instagram.com/" target="_blank"><i class="fa-brands fa-instagram"></i></a>
                            <a href="https://www.youtube.com/" target="_blank"><i class="fa-brands fa-youtube"></i></a>
                        </li>
                    </ul>
                </div>
                <div class="col-md-4 col-12 column_2">
                    <div class="row">
                        <div class="col-6 left_container">
                            <h4 class="offer_menu_heading">offers</h4>
                            <ul class="offer_menu">
                                <li class="menu_item"><a href="javascript:void(0);" class="menu_link">payments</a></li>
                                <li class="menu_item"><a href="javascript:void(0);" class="menu_link">pricing</a></li>
                                <li class="menu_item"><a href="javascript:void(0);" class="menu_link">subscriptions</a></li>
                                <li class="menu_item"><a href="javascript:void(0);" class="menu_link">customers</a></li>
                                <li class="menu_item"><a href="javascript:void(0);" class="menu_link">privacy site</a></li>
                            </ul>
                        </div>
                        <div class="col-6 right_container">
                            <h4 class="company_menu_heading">company</h4>
                            <ul class="company_menu">
                                <li class="menu_item"><a href="javascript:void(0);" class="menu_link">about us</a></li>
                                <li class="menu_item"><a href="javascript:void(0);" class="menu_link">recent blog</a></li>
                                <li class="menu_item"><a href="javascript:void(0);" class="menu_link">contact us</a></li>
                                <li class="menu_item"><a href="javascript:void(0);" class="menu_link">conditions</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-12 column_3">
                    <div class="row">
                        <div class="col-6 left_container">
                            <h5 class="site_contact_us">
                                Contact Us: <a href="mailto:contact@realock.com"
                                               target="_blank">contact@realock.com</a>
                            </h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="footer_bottom">
            <div class="row site_info">
                <div class="col-xl-8 col-lg-7 col-md-6 col-12 column_1">
                    <p class="site_copyright">
                        copyright&copy;<span>realock</span> @DateTime.Now.Year <br> all rights
                        reserved.
                    </p>
                </div>
                <div class="col-xl-4 col-lg-5 col-md-6 col-12 column_2">
                    <a href="javascript:void(0);" class="site_policy">privacy policy</a>
                    <a href="javascript:void(0);" class="site_conditions">terms & conditions</a>
                </div>
            </div>
        </div>
    </div>
</footer>