

<section id="image_slider_section">
    <div class="container">
        <div class="realock_form_content">
            <h2 class="d-none">image slider</h2>
            <form class="search_form_realock" action="#" method="GET">
                <div class="city_icon">
                    <div class="svg_icon">
                        <i class="fa-solid fa-city"></i>
                    </div>
                </div>
                <div class="realock_form_placeholder">
                    <input class="form_placeholder" type="text"
                           placeholder="Search for city, neighorhood, agent, address...">
                </div>
                <div class="filter_icon">
                    <div class="svg_icon">
                        <i class="fa-solid fa-sliders"></i>
                    </div>
                </div>
                <div class="realock_form_button">
                    <input class="form_submit_button" type="submit" name="submit" value="search">
                </div>
            </form>
        </div>

        <div class="image_slider">
            <div class="slide image_1">
                <img src="~/Relock - Real Estate HTML/assets/images/image-gallery/banner1.jpg" alt="gallery-image">
            </div>
            <div class="slide image_2">
                <img src="~/Relock - Real Estate HTML/assets/images/image-gallery/banner2.jpg" alt="gallery-image">
            </div>
            <div class="slide image_3">
                <img src="~/Relock - Real Estate HTML/assets/images/image-gallery/banner4.jpg" alt="gallery-image">
            </div>
        </div>
    </div>
</section>