@model List<ResultTestimonialDto>

<section id="testimonial_section" class="mt-100">
    <div class="bg_img_testimonial">
        <div class="container">
            <div class="theme_heading">
                <h2>Testimonials from clients</h2>
            </div>
            <div class="theme_description">
                <p class="mt-15">Lorem ipsum dolor sit amet, consectetur adipiscing.</p>
            </div>
            <div class="testimonial_inner_section">
                @foreach (var item in Model)
                {
                    <div class="client_testimonials">
                        <div class="testimonial">
                            <div class="testimonial_icon">
                                <i class="fa-solid fa-quote-left"></i>
                            </div>
                            <div class="client_review">
                                <p>
                                    @item.Description
                                </p>
                            </div>
                            <div class="client_name">
                                <h4>@item.Name</h4>
                            </div>
                            <div class="client_destination">
                                <h5>@item.Title</h5>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</section>