<header class="site_header">
   

    <div class="container main_header">
        <div class="logo">
            <a class="site_logo" href="#realock_info"><span>r</span>ealock</a>
        </div>
        <nav class="navbar navbar-expand-lg navbar-light">
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav dp-none">                   
                    <li class="nav-item">
                        <a class="nav-link" href="/Default/Index/">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#property_listing_section">listings</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#buyer_seller_section">about</a>
                    </li>                    
                    @*<li class="nav-item">
                        <a class="nav-link" href="#category_section">category</a>
                    </li>*@
                    <li class="nav-item">
                        <a class="nav-link" href="#testimonial_section">testimonial</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#agent_section">agents</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link header_button btn" href="/Contact/Index/">Contact</a>
                    </li>
                </ul>
                <button class="navbar-toggler sidebar_icon" type="button" data-bs-toggle="offcanvas"
                        data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar">
                    <i class="fas fa-list"></i>
                </button>
                <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar">
                    <div class="offcanvas-header">
                        <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas"
                                aria-label="Close"></button>
                    </div>
                    <div class="offcanvas-body">
                        <ul class="sidebar-nav justify-content-end flex-grow-1">
                            <li class="nav-item">
                                <a class="nav-link" href="javascript:void(0);">Admin Page</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="javascript:void(0);">Sign In</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </nav>
    </div>
</header>