<section id="agent_section" class="mt-100">
    <div class="container">
        <div class="row">
            <div class="col-lg-9 col-md-8 col-12">
                <div class="theme_heading">
                    <h2>Meet our agents</h2>
                </div>
                <div class="theme_description">
                    <p class="mt-15">Lorem ipsum dolor sit amet, consectetur adipiscing.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-12 theme_button">
                <a href="javascript:void(0);" class="btn">meet our team<i class="icon fa-solid fa-arrow-right"></i></a>
            </div>
        </div>

        <div id="agent-listings" class="pt-80">

            <div class="agent">
                <div class="agent_detail">
                    <div class="foreground">
                        <a href="javascript:void(0);" class="agent-image">
                            <img src="~/Relock - Real Estate HTML/assets/images/agents/agent-1.png" alt="agent-image">
                        </a>
                        <div class="agent_social">
                            <a class="social_icons facebook" href="https://www.facebook.com/" target="_blank"><i class="fa-brands fa-facebook-f"></i></a>
                            <a class="social_icons twitter" href="https://twitter.com/" target="_blank"><i class="fa-brands fa-twitter"></i></a>
                            <a class="social_icons linkedin" href="https://www.linkedin.com/" target="_blank"><i class="fa-brands fa-linkedin-in"></i></a>
                            <a class="social_icons instagram" href="https://www.instagram.com/" target="_blank"><i class="fa-brands fa-instagram"></i></a>
                            <a class="social_icons whatsapp" href="https://www.whatsapp.com/" target="_blank"><i class="fa-brands fa-whatsapp"></i></a>
                        </div>
                    </div>
                    <div class="background">
                        <div class="agent_description">
                            <h4 class="agent-title">jorder smith</h4>
                            <h6 class="agent-type">real estate agents</h6>
                        </div>
                    </div>
                </div>
            </div>

            <div class="agent">
                <div class="agent_detail">
                    <div class="foreground">
                        <a href="javascript:void(0);" class="agent-image">
                            <img src="~/Relock - Real Estate HTML/assets/images/agents/agent-2.png" alt="agent-image">
                        </a>
                        <div class="agent_social">
                            <a class="social_icons facebook" href="https://www.facebook.com/" target="_blank"><i class="fa-brands fa-facebook-f"></i></a>
                            <a class="social_icons twitter" href="https://twitter.com/" target="_blank"><i class="fa-brands fa-twitter"></i></a>
                            <a class="social_icons linkedin" href="https://www.linkedin.com/" target="_blank"><i class="fa-brands fa-linkedin-in"></i></a>
                            <a class="social_icons instagram" href="https://www.instagram.com/" target="_blank"><i class="fa-brands fa-instagram"></i></a>
                            <a class="social_icons whatsapp" href="https://www.whatsapp.com/" target="_blank"><i class="fa-brands fa-whatsapp"></i></a>
                        </div>
                    </div>
                    <div class="background">
                        <div class="agent_description">
                            <h4 class="agent-title">maria anderson</h4>
                            <h6 class="agent-type">real estate agents</h6>
                        </div>
                    </div>
                </div>
            </div>

            <div class="agent">
                <div class="agent_detail">
                    <div class="foreground">
                        <a href="javascript:void(0);" class="agent-image">
                            <img src="~/Relock - Real Estate HTML/assets/images/agents/agent-3.png" alt="agent-image">
                        </a>
                        <div class="agent_social">
                            <a class="social_icons facebook" href="https://www.facebook.com/" target="_blank"><i class="fa-brands fa-facebook-f"></i></a>
                            <a class="social_icons twitter" href="https://twitter.com/" target="_blank"><i class="fa-brands fa-twitter"></i></a>
                            <a class="social_icons linkedin" href="https://www.linkedin.com/" target="_blank"><i class="fa-brands fa-linkedin-in"></i></a>
                            <a class="social_icons instagram" href="https://www.instagram.com/" target="_blank"><i class="fa-brands fa-instagram"></i></a>
                            <a class="social_icons whatsapp" href="https://www.whatsapp.com/" target="_blank"><i class="fa-brands fa-whatsapp"></i></a>
                        </div>
                    </div>
                    <div class="background">
                        <div class="agent_description">
                            <h4 class="agent-title">lumi jackson</h4>
                            <h6 class="agent-type">real estate agents</h6>
                        </div>
                    </div>
                </div>
            </div>

            <div class="agent">
                <div class="agent_detail">
                    <div class="foreground">
                        <a href="javascript:void(0);" class="agent-image">
                            <img src="~/Relock - Real Estate HTML/assets/images/agents/agent-1.png" alt="agent-image">
                        </a>
                        <div class="agent_social">
                            <a class="social_icons facebook" href="https://www.facebook.com/" target="_blank"><i class="fa-brands fa-facebook-f"></i></a>
                            <a class="social_icons twitter" href="https://twitter.com/" target="_blank"><i class="fa-brands fa-twitter"></i></a>
                            <a class="social_icons linkedin" href="https://www.linkedin.com/" target="_blank"><i class="fa-brands fa-linkedin-in"></i></a>
                            <a class="social_icons instagram" href="https://www.instagram.com/" target="_blank"><i class="fa-brands fa-instagram"></i></a>
                            <a class="social_icons whatsapp" href="https://www.whatsapp.com/" target="_blank"><i class="fa-brands fa-whatsapp"></i></a>
                        </div>
                    </div>
                    <div class="background">
                        <div class="agent_description">
                            <h4 class="agent-title">jorder smith</h4>
                            <h6 class="agent-type">real estate agents</h6>
                        </div>
                    </div>
                </div>
            </div>

            <div class="agent">
                <div class="agent_detail">
                    <div class="foreground">
                        <a href="javascript:void(0);" class="agent-image">
                            <img src="~/Relock - Real Estate HTML/assets/images/agents/agent-2.png" alt="agent-image">
                        </a>
                        <div class="agent_social">
                            <a class="social_icons facebook" href="https://www.facebook.com/" target="_blank"><i class="fa-brands fa-facebook-f"></i></a>
                            <a class="social_icons twitter" href="https://twitter.com/" target="_blank"><i class="fa-brands fa-twitter"></i></a>
                            <a class="social_icons linkedin" href="https://www.linkedin.com/" target="_blank"><i class="fa-brands fa-linkedin-in"></i></a>
                            <a class="social_icons instagram" href="https://www.instagram.com/" target="_blank"><i class="fa-brands fa-instagram"></i></a>
                            <a class="social_icons whatsapp" href="https://www.whatsapp.com/" target="_blank"><i class="fa-brands fa-whatsapp"></i></a>
                        </div>
                    </div>
                    <div class="background">
                        <div class="agent_description">
                            <h4 class="agent-title">maria anderson</h4>
                            <h6 class="agent-type">real estate agents</h6>
                        </div>
                    </div>
                </div>
            </div>

            <div class="agent">
                <div class="agent_detail">
                    <div class="foreground">
                        <a href="javascript:void(0);" class="agent-image">
                            <img src="~/Relock - Real Estate HTML/assets/images/agents/agent-3.png" alt="agent-image">
                        </a>
                        <div class="agent_social">
                            <a class="social_icons facebook" href="https://www.facebook.com/" target="_blank"><i class="fa-brands fa-facebook-f"></i></a>
                            <a class="social_icons twitter" href="https://twitter.com/" target="_blank"><i class="fa-brands fa-twitter"></i></a>
                            <a class="social_icons linkedin" href="https://www.linkedin.com/" target="_blank"><i class="fa-brands fa-linkedin-in"></i></a>
                            <a class="social_icons instagram" href="https://www.instagram.com/" target="_blank"><i class="fa-brands fa-instagram"></i></a>
                            <a class="social_icons whatsapp" href="https://www.whatsapp.com/" target="_blank"><i class="fa-brands fa-whatsapp"></i></a>
                        </div>
                    </div>
                    <div class="background">
                        <div class="agent_description">
                            <h4 class="agent-title">lumi jackson</h4>
                            <h6 class="agent-type">real estate agents</h6>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>