<br />
<br />
<div class="container">
    <div class="row">
        <div class="theme_heading">
            <h2>Subscribe Our</h2>
        </div>
        <div class="theme_description">
            <p class="mt-15">Newsletter</p>
        </div>
        <br />
        <br />
        <div class="col-12">
            <form method="post" class="newsletter_form" asp-action="SubscribePartial" asp-controller="Default">
                <div class="form_container">
                    <input name="Mail" type="email" placeholder="Write Your Email" required><button class="form_submit_button" type="submit">
                        <i class="fa-solid fa-paper-plane"></i>
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>