<section id="estimate_section" class="mt-100">
    <div class="container">
        @*<div class="estimate_inner_section">*@
            <div class="row estimate_inner_row">
                <div class="col-lg-7 col-12 column_1">
                    <div class="estimate_heading">
                        <h2>Contact US</h2>
                    </div>
                    <div class="estimate_para">
                        <p class="mt-15">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                            tempor incididunt ut
                            labore et dolore magna aliqua.
                        </p>
                    </div>
                </div>
                @*                <div class="col-lg-5 col-12 column_2">
                <a href="javascript:void(0);" class="estimate_learn_button btn">learn more</a>
                </div>*@
            </div>
        @*</div>*@
    </div>
</section>